#titreprinci {
	position: relative;
	font-family: Arial;
	font-size: 50px; 
	color: white;
	

}
#ziktitre{
	color: #1E90FF;
}

header{
	position: relative;
	border-radius: 20px 20px 20px 20px;
	border-color: blue;
	
	background: transparent;
	text-align: center;
}

nav {
	
	margin-top: 5px;
	margin-left: 10px;
	    }

body {
	background-image: url(Music-Headphone.jpg);
}
.transparent
{
	background:white;
	opacity: 0.8;

}

.CouleurBleue
{
	color: #1E90FF;
	font-weight: bold;
}

#News
{
	border: solid;
	border-color: white;
	border-radius: 20px 20px 20px 20px;
	
	height: 500px;
	width: 300px;
	
}
#newsletters{

	float: left;
	display: inline-block;
	margin-left:75%;
	
	
}
#titrenews{
	position: relative;
	margin-top: 15px;
	margin-left: 105px;
	display: inline-block;
}
#titrenewletters{
	font-family: "mafont";
	src:url("mafont-regular.otf");
	font-size: 20px;
}

.toutelargeur{

	width:100%;
	margin-left: 0px;
	height: 50px;
	text-align: center;
}
.moinstransparent{
	background:#808080; 
	opacity: 0.8;
	color: white;
	text-align: center;
}
#container_groupe {
	background: white;
	border-radius: 15px;
	margin-left: 2%;
	margin-right: 10%;
	opacity: 0.9;
		
}

.largeur_colonne {
	width: 60px;
	table-layout:fixed
}

#table_liste {
	overflow: hidden;
	margin-bottom: 2px;
	border-radius: 15px;
}
.blanc {
	background-color: white;

}

#btn_ajout {
margin-top: 1%;
margin-left:35%;
width: 300px;

}

#container_groupe {
	margin-top: 1%;
}

#btnvalid27 {
	display: none;
}

#btnverifvalidmodif {
	display: none;
}

#btn_ajout {
	font-size: 20px;
}